/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-cinzel: 'Cinzel', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Classe global para transições suaves */
  .transition-all {
    transition: all 0.3s ease-in-out; /* Ajuste a duração e a função de tempo conforme necessário */
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #a38d6d;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
